<!doctype html>
{% block html_tag %}
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
{% endblock html_tag %}

<head>
    {% block head %}
	<meta charset="utf-8">
    {# About DNS prefetching: http://html5boilerplate.com/docs/DNS-Prefetching/
       If you fetch data from other domains, add them too #}
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<meta name="description" content="{% block description %}{% endblock description%}">
    <meta name="keywords" content="{% block keywords %}{% endblock keywords %}">
	<meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>
    {# ?? <meta name="title" content=""> #}

    {# WARNING: do not add "initial-scale=1.0" to viewport, breaks iOS view #}
	<meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

    {# TODO: uncomment to allow BOTs see SITEMAP
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml"> #}

    {# Define "meta.noindex" to disable robots from indexing page.
       Examples: admin panel, contact form etc. #}
    {#<meta name="robots" content="noindex,follow">
<!— instructs search engines not to index this page, but to follow links from the page —>#}
    {% if meta.noindex is defined %}
    <meta name="robots" content="noindex">
    {% endif %}

    {# Define "google.wt" to validate your site Google Webmaster Tools #}
    {% if google.wt is defined %}
    <meta name="google-site-verification" content="{{ google.wt }}">
    {% endif %}

    {# TODO: RSS & ATOM
    <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml"> #}

    {# TODO: Pingbacks http://html5boilerplate.com/docs/html-head/#pingbacks #}

    {# TODO: Author ??
    <link rel="author" href="/humans.txt"> #}

	<link rel="stylesheet/less" href="/bundles/pminitializr/less/style.less">
	<script src="/bundles/pminitializr/js/libs/less-1.3.0.min.js"></script>
    {# '@ToolsTFIBundle/Resources/public/css/diagnostic.css' #}

	<!-- Use SimpLESS (Win/Linux/Mac) or LESS.app (Mac) to compile your .less files
	to style.css, and replace the 2 lines above by this one:

	<link rel="stylesheet" href="less/style.css">
	 -->
    {# RECOMENDED JS COMPRESSOR yui_js - configure in config.yml or remove #}
    {% block head_scripts %}
        {% javascripts
            '@MopaBoostrapBundle/Resources/public/js/modernizr-2.5.3-respond-1.1.0.min.js'
            output='js/compiled/head.js'
            filter='?yui_js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock head_scripts %}
    {% endblock head %}
</head>
{% block body_tag %}
<body data-spy="scroll">
{% endblock body_tag %}

{% block body_start %}
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
{% endblock body_start %}

{% block body %}
    {% block navbar %}

	{% endblock navbar %}

	{% block container %}

    {% block footer %}
        <footer>
	        {% block footer_containter %}
	        <p>&copy; <a href="" target="_blank">Mohrenweiser & Partner</a> 2011</p>
	        {% endblock footer_containter %}
        </footer>
        {% endblock footer %}
	</div> <!-- /container -->
{% endblock container %}

{% block foot_script %}
        {# TODO: second line purpose??, duplicated jQuery below and in Assetic #}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/bundles/pminitializr/js/libs/jquery-1.7.2.min.js"><\/script>')
        </script>

        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXX-X']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
	{# To only use a subset or add more js overwrite and copy paste this block
       To speed up page loads save a copy of jQuery in your project and override
       this block to include the correct path. Otherwise the regeneration is
       done on every load in dev more with use_controller: true #}
	{% javascripts
        'http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'
    	'@MopaBootstrapBundle/Resources/bootstrap/js/*'
        '@MopaBootstrapBundle/Resources/public/js/html5bp_plugins.js'
        '@MopaBootstrapBundle/Resources/public/js/html5bp_script.js'
    	filter="?yui_js"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script %}
{% endblock body %}
</body>
</html>
