{% macro show(type, message, close) %}
<div class="alert-message {{ type }}" data-alert="alert">
	{% if close|default(false) %} 
	<a class="close" href="#">×</a>
	{% endif %}
	<p>
	{{ message | trans }}
	</p>
</div>
{% endmacro %}
