# Project #
###########
Resources/public/bootstrap
Resources/public/bootstrap-sass

# Composer #
############
/composer.lock
/vendor
composer.phar

# IDE files   #
###############
/.buildpath
/.settings
/.project
/.metadata

/nbproject

*.sublime*

*~

/.idea


# Keep .gitkeep #
#################
!.gitkeep
