language: php

sudo: false

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - hhvm

env:
  - SYMFONY_VERSION=~2.3.0
  - SYMFONY_VERSION=~2.7.0
  - SYMFONY_VERSION=~2.8.0
  - SYMFONY_VERSION=~3.0

matrix:
  fast_finish: true
  allow_failures:
    - php: hhvm

cache:
  directories:
    - $HOME/.composer/cache

before_script:
  - composer selfupdate
  - if [ "$SYMFONY_VERSION" != "" ]; then composer require "symfony/symfony:${SYMFONY_VERSION}" --no-update; fi;
  - composer update --prefer-dist $COMPOSER_FLAGS

script:
  - vendor/bin/phpunit

after_success:
  - coveralls
