                {%- for action in record_actions %}
                    <a href="{{ "{{ path('"~ route_name_prefix ~"_"~ action ~"', { 'id': entity.id }) }}" }}" class="btn btn-info">{{ action }}</a>
                {%- endfor %}