{% extends "MopaBootstrapBundle::layout.html.twig" %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% block content %}
</div>
<h2>Extended forms Example</h2>
<div class="row">
    <div class="span8">
      <form class="form-horizontal">
		{{ form_widget(form) }}
		<div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="reset" class="btn">Cancel</button>
        </div>
      </form>
    </div>
    <div class="span4">
      <h3>Everything's included</h3>
      <p>All things shown here are directly included via the bundle.</p>
      <p>You can completely drive the appearence within the form classes, and hopefully updates wont change the view!</p>
      <h3>Absolutely responsive!</h3>
      <p>Resize your browser to see responsiveness in action, if you make your browser small enough (e.g. as small as a smartphone display) you will see all forms still work and look really good!</p>
    </div>
{% endblock content %}