{% extends "MopaBootstrapBundle::layout.html.twig" %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% block content %}
    <div class="span3">
      <p>With v2.0, we have lighter and smarter defaults for form styles. No extra markup, just form controls.</p>
    </div>
    <div class="span9">
      <form class="well">
		{{ form_widget(form) }}
        <button type="submit" class="btn">Submit</button>
      </form>
    </div>
  </div>
  <h3>Search form</h3>
  <div class="row">
    <div class="span3">
      <p>Reflecting default WebKit styles, just add <code>.form-search</code> for extra rounded search fields.</p>
    </div>
    <div class="span9">
      <form class="well form-search">
		{{ form_widget(searchform) }}
        <button type="submit" class="btn">Submit</button>
      </form>
    </div>
  </div>
  <h3>Inline form</h3>
  <div class="row">
  	<div class="span3">
      <p>Inputs are block level to start. For <code>.form-inline</code> and <code>.form-horizontal</code>, we use inline-block.</p>
    </div>
    <div class="span9">
      <form class="well form-search">
		{{ form_widget(inlineform) }}
        <button type="submit" class="btn">Submit</button>
      </form>
    </div>
{% endblock content %}

{% set showTemplate = _self %}{% set showForm = formType %}