{% extends "MopaBootstrapBundle::layout.html.twig" %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% block content %}
</div>
<h2>Horizontal forms</h2>
<div class="row">
    <div class="span8">
      <form class="form-horizontal">
		{{ form_widget(form) }}
		<div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="reset" class="btn">Cancel</button>
        </div>
      </form>
    </div>
    <div class="span4">
      <h3>What's included</h3>
      <p>Shown on the left are some of the default form controls supported</p>
      <p>Watch out that every control has a bunch of options to define in the form classes</p>
    </div>
{% endblock content %}

{% set showTemplate = _self %}{% set showForm = form %}