{% extends "MopaBootstrapBundle::layout.html.twig" %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% block content %}
<div class="span8">
	<h1>Welcome</h1>
	<p>Creating a working copy of this site should be as easy to:</p>
	<ul>
		<li>Download and install latest symfony edition</li>
		<li>Install Mopa Bootstrap Bundle</li>
		<li>Activate Examples in your Symfony installation</li>
	</ul>
	<p>Finished :) </p>

	<p>These examples are part of the Mopa Bootstrap Bundle, and are only meant to show you how easy it could be to have a fully working bootstrap Site working. </p>
</div>
<div class="span4">
	<h1>what it is made of</h1>
	<ul>
    	<li>Symfony</li>
    	<li>bootstrap</li>
    	<li>and a lot more</li>
	</ul>
</div>
{% endblock content %}